@model IEnumerable<ProjektGrede.Models.OdvisnostiViewModel>

@{
    Layout = null;
}
<div>
    <div id="chart-dan" >
        <canvas id="bar-chart-dan"></canvas>
    </div>
</div>
<script>
    var podatki = @Html.Raw(Json.Encode(Model));
   
    var p1 = [];
    var p2 = [];
    var p3 = [];
    for (var i = 0, max = podatki.length; i < max; i += 1) {
        if (podatki[i].IdGrede===1)
            p1.push(podatki[i].koo);
        if (podatki[i].IdGrede === 2)
            p2.push(podatki[i].koo);
        if (podatki[i].IdGrede === 3)
            p3.push(podatki[i].koo);
    }
    new Chart(document.getElementById("bar-chart-dan"), {
        type: 'scatter',
        data: {
            datasets: [{
                label: 'Greda1',
                data: p1,
                backgroundColor: 'orangered',
                borderColor: 'orangered'
            },
                {
                    label: 'Greda2',
                    data: p2,
                    backgroundColor: 'green',
                    borderColor: 'green'
                },
                {
                    label: 'Greda3',
                    data: p3,
                    backgroundColor: 'blue',
                    borderColor: 'blue'
                },
            ]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'linear',
                    position: 'bottom',
                    scaleLabel: {
                        display: true,
                        labelString: 'Zalivanje + padavine na m2',
                        fontsize:11
                    },
                    ticks: {
                        beginAtZero: true,
                        stepvalue:1
                    }
                    
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Vlaga',
                        fontSize: 11
                    },
                    barPercentage: 0.85,
                    categoryPercentage: 1,
                    type: 'linear',
                    id: 'yaxis1',
                    display: true,
                    position: 'left',
                    ticks: {
                        max: 100,
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            return value + '%';
                        }
                    }
                }
               ] 

            },
            title: {
                display: true,
                text: 'Povezava med vodo na m2 in vlago',
                fontSize: 16
            }
        }
    });
   
    ////    options: {
            
    ////        maintainAspectRatio: false,
    ////        scales: {
    ////            xAxes: [{
    ////                barPercentage: 0.8,
    ////                categoryPercentage: 1,
    ////                scaleLabel: {
    ////                    display: true,
    ////                    labelString: 'Voda na m2',
    ////                    fontSize: 11
    ////                },
    ////            }],
    ////            yAxes: [{
    ////                display: true,
    ////                scaleLabel: {
    ////                    display: true,
    ////                    labelString: 'Vlaga',
    ////                    fontSize: 11
    ////                },
    ////                barPercentage: 0.85,
    ////                categoryPercentage: 1,
    ////                type: 'linear',
    ////                id: 'yaxis1',
    ////                display: true,
    ////                position: 'right',
    ////                ticks: {
    ////                    max: 100,
    ////                    beginAtZero: true,
    ////                    callback: function (value, index, values) {
    ////                        return value + '%';
    ////                    }
    ////                },
    ////            },
    ////                    gridLines: {
    ////                        drawOnChartArea: false,
    ////                    }
    ////                }]
    ////        },
    ////        legend: { display: true },
    ////        tooltips: {
    ////            mode: 'index',
    ////            intersect: false
    ////        },
    ////        title: {
    ////            display: true,
    ////            text: 'Povezava med vodo na m2 in vlago',
    ////            fontSize: 16
    ////        },
    ////        showXLabels: 10
    ////    }
    ////});
</script>
