@*@model IEnumerable<ProjektGrede.Models.OdvisnostiViewModel>*@
@model IEnumerable<ProjektGrede.Models.OdvisnostiBubble1>

@{
    ViewBag.Title = "Pad. vs Vlaga";
}
<div class="container text-center">

    @*@Html.Partial("_odvisnosti", Model, new ViewDataDictionary { { "id", ViewData["id"] } })*@
    @Html.Partial("_odvisnostiBubble", Model, new ViewDataDictionary { { "id", ViewData["id"] } })

</div>
